
<div *ngIf="processo">
    <h2><span jhiTranslate="softtestApp.processo.detail.title">Processo</span> {{processo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="softtestApp.processo.descricao">Descricao</span></dt>
        <dd>
            <span>{{processo.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="softtestApp.processo.dataCadastro">Data Cadastro</span></dt>
        <dd>
            <span>{{processo.dataCadastro | date:'short'}}</span>
        </dd>
        <dt><span jhiTranslate="softtestApp.processo.usuariosParecer">Usuarios Parecer</span></dt>
        <dd>
            <span *ngFor="let usuariosParecer of processo.usuariosParecers; let last = last">
                {{usuariosParecer.firstName}} {{usuariosParecer.lastName}}{{last ? '' : ', '}}
            </span>
        </dd>
        <dl class="row-md jh-entity-details" *ngIf="processo.id">
            <dt><span jhiTranslate="softtestApp.processo.parecerRealizados">Lista com Pareceres já realizados</span></dt>
            <dd>
                <span *ngFor="let parecer of parecers;">
                    <li>
                        {{parecer.usuario.firstName}} {{parecer.usuario.lastName}} - {{parecer.parecer}}
                    </li>
                </span>
            </dd>
        </dl>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'processo/'+ processo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
