<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" *ngIf="!parecer.id" id="myParecerLabel" jhiTranslate="softtestApp.parecer.home.createLabelForm">Create or edit a Parecer</h4>
        <h4 class="modal-title" *ngIf="parecer.id" id="myParecerLabel" jhiTranslate="softtestApp.parecer.home.editLabel">Create or edit a Parecer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!parecer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="parecer.id" readonly />
        </div>

        <div class="form-group" *ngIf="!parecer.id">
            <label class="form-control-label" jhiTranslate="softtestApp.parecer.processo" for="field_processo">Processo</label>
            <select class="form-control" id="field_processo" name="processo" [(ngModel)]="parecer.processo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="processoOption.id === parecer.processo?.id ? parecer.processo : processoOption" *ngFor="let processoOption of processos; trackBy: trackProcessoById">{{processoOption.id}}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="parecer.processo">
            <label class="form-control-label" jhiTranslate="softtestApp.processo.descricaoProcesso" for="field_processo">Processo</label>
            <div>
                <span>{{parecer.processo?.descricao}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="softtestApp.parecer.parecer" for="field_parecer">Parecer</label>
            <input type="text" class="form-control" name="parecer" id="field_parecer"
                [(ngModel)]="parecer.parecer" required/>
            <div [hidden]="!(editForm.controls.parecer?.dirty && editForm.controls.parecer?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.parecer?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
